

.contacto {
    background-color: #7f807f;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 10px;

    .contacto img {
        width: 30%;
        margin-top: 13px;
    }
}
