#grid_index {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

#grid_sobrenosotros {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

#grid_quehacemos {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

#grid_contacto {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

#grid_clases {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}