h1 {
    font-size: 48px;
    font-weight: bold;
    background-color: $secondcolor;
    margin-bottom: 0;
    padding: 10px;
}

h2 {
    font-size: 28px;
    background-color: $thirdcolor;
    padding: 8px;
}

p {
    font-size: 18px;
    background-color: $maincolor;
}

.imagenbienvenido {
    width: 27%;
    margin-bottom: 20px;
}

.imagenmcrypto {
    width: 27%;
    margin-bottom: 20px;
}